@import 'reset';

$font-stack: 'Roboto', sans-serif;
$font-mono: 'Roboto Mono', monospace;

$font-4: .7rem;
$font-3: .95rem;
$font-2: 1.1rem;
$font-1: 1.3rem;




$window-width: 310px;
$window-height: 640px;

$height-main-nav: 60px;

$button-height: 20px;

$tile-icon-height: 30px;
$tile-icon-width: 30px;
$tile-switch-height: 20px;
$tile-height: 54px;




$white: #FFF;

$transparent-white: rgba(255, 255, 255, 0.76);

$lightgray: #f6f6f6;
$gray: #9da6b8;
$darkgray: #484e5d;








$red: #F17272;

$blue: #6F84E6;

$z-middle: 50;
$z-top: 100;










$color-light-gray: #9da6b8;
$color-med-gray: #5a6170;
$color-dark-gray: #484e5d;

$color-white: #FFF;
$color-red: #F17272;
$color-blue: #6F84E6;








$row-vertical-spacing: .2rem;
$section-vertical-spacing: 1.2rem;





$icon-width: 14px;
$icon-height: 14px;








html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  background: $lightgray;
  color: $color-dark-gray;
  font-family: $font-stack;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  color: $blue;
  font-size: $font-1;
  line-height: $font-1;
  // margin-bottom: 8px;
}

h2 {
  font-size: $font-2;
  font-weight: 500;
  color: $blue;
  // letter-spacing: .6px;
  padding: 8px 0;
}

h3 {
  font-size: $font-3;
  color: $color-dark-gray;
  padding: 2px 0px 8px 0px;
}

h4 {
  font-size: $font-4;
  // color: $color-med-gray;
  color: $color-light-gray;
  text-transform: uppercase;
  letter-spacing: .7px;
  padding: 4px 0px 8px 0px;
}

p {
  font-size: $font-4;
  line-height: 1.2rem;
  white-space: normal;
}














.header {
  text-align: center;
  padding: 14px;
  position: relative;
  line-height: 1.6rem;
  background-color: $color-white;

  h3 {
    padding: 0;
  }
}







.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $color-white;
}







.body {

}

.body--container {
  padding: 1rem 0;
}






















.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.tabs li {
  width: 100%;
}

.tab--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab {
  display: inline-block;
  text-align: center;
  flex-grow: 1;
  padding: 16px 0;
  color: #9da6b8;
  fill: #9da6b8;
  cursor: pointer;
  width: 100%;
}

.tab__active {
  color: $color-blue;
  fill: $color-blue;
}

.tab__active > div:after {
  border-bottom: 2px solid $color-blue;
}

.tab > div {
  position: relative;
  display: inline-block;
}

.tab > div:after {
  position: absolute;
  content: ' ';
  left: 2px;
  right: 2px;
  bottom: -6px;
}



















.callout {
  white-space: normal;
  word-wrap: break-word;
  font-family: $font-mono;
  position: relative;
  color: $color-light-gray;
  background-color: $color-white;
  border-radius: 2px;
  padding: .5rem;
  line-height: 1.5rem;
  letter-spacing: .15rem;
  margin-bottom: .5rem;
}

.callout--text {
  width: 100%;
  display: inline-block;
}















.icon {
  fill: $blue;
  display: inline-block;
  margin-right: 4px;
  width: $icon-width;
  height: $icon-height;
  transform: scale(1.2) translateY(2px);
}

.icon__active {
  fill: $white;
}

.icon__inactive {
  fill: $blue;
}































.main-nav {
  // height: $height-main-nav;
  line-height: ($height-main-nav / 2);
  position: relative;
}

.main-nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  background-color: $gray;
  // height: $height-main-nav;
  // width: $height-main-nav;
  line-height: $height-main-nav;
  text-align: center;
  padding: 0 20px;
}




button {
  // border: 1px solid $gray;
  border: none;
  padding: 0px 20px;
  height: $button-height;
  line-height: $button-height;
  border-radius: $button-height;
  background-color: $white;
  color: $blue;
  font-size: $font-2;
  text-align: center;
  cursor: pointer;
}

button.disabled {
  color: $gray;
  background-color: $white;
  pointer-events: none;
}







a {
  color: $darkgray;
}





// .header {
//   padding: 24px 0px 24px 0px;
//   border-bottom: 1px solid $gray;
// }

// .header-callout {
//   letter-spacing: 2px;
//   white-space:normal;
//   font-family: monospace;
//   background-color: $white;
//   border-radius: 2px;
//   padding: 8px;
//   line-height: 20px;
// }

















.overlay {
  z-index: $z-middle;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $transparent-white;
}

.overlay-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-top;
  background-color: $red;
  height: $height-main-nav;
}









// .tile {
//   position: relative;
//   font-weight: medium;
//   height: $tile-height;
//   line-height: $tile-height;
// }

// .outer-tile {
//  color: $blue;
//  position: relative;
// }

// .outer-tile__success {
//  background-color: $blue;
// }

// .outer-tile__error {
//  background-color: $red;
// }

// .outer-tile__success,
// .outer-tile__error {
//   h2 {
//     color: $white
//   }
// }

// .inner-tile {
//   @extend .container;
//   border-bottom: 1px solid $white;
//   height: inherit;
// }

// .borderless {
//   border: none;
// }









.tile-icon {
  display: inline-block;
  width: $tile-icon-width;
  height: $tile-icon-height;
  position: relative;
  top: 10px;
  margin-right: 6px;
  transform: scale(0.7);
}

.tile-icon__active {
  fill: $white;
}

.tile-icon__inactive {
  fill: $blue;
}















/** Switch
 -------------------------------------*/


.switch {
  pointer-events: none;
  display: inline-block;
  border-radius: $tile-switch-height;
  height: $tile-switch-height;
  width: $tile-switch-height * 2;
  background: $gray;
  position: relative;
}

.switch div {
  pointer-events: none;
  height: $tile-switch-height;
  width: $tile-switch-height;
  border: 1px solid $gray;
  border-radius: $tile-switch-height;
  background: $white;
  -webkit-transition: all 150ms;
     -moz-transition: all 150ms;
          transition: all 150ms;
}

.switch.active {
  background: $blue;
}

.switch.active div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}



.tile-switch {
  top: 6px;
  margin-right: 6px;
  // height: $tile-icon-height;
  // width: $tile-icon-width * 2;
}

// .tile-switch div {
//   height: $tile-icon-height;
//   width: $tile-icon-width;
//   border: 1px solid $gray;
//   border-radius: $button-height;
//   background: $white;
//   -webkit-transition: all 150ms;
//      -moz-transition: all 150ms;
//           transition: all 150ms;
// }












.u--text__center {
  text-align: center;
}

.u--text__right {
  text-align: right;
}

.u-float__right {
  float: right;
}






.u-color--gray {
  color: $color-light-gray;
}













// grid

$width: 96%;
$gutter: 4%;

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-bottom: $section-vertical-spacing;
}

.row {
  position: relative;
  width: 100%;
  margin-bottom: $row-vertical-spacing;
}

.row [class^="col"] {
  float: left;
  margin: 0% 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1 { width:($width / 12) - ($gutter * 11 / 12); }
.col-2 { width: ($width / 6) - ($gutter * 10 / 12); }
.col-3 { width: ($width / 4) - ($gutter * 9 / 12); }
.col-4 { width: ($width / 3) - ($gutter * 8 / 12); }
.col-5 { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
.col-6 { width: ($width / 2) - ($gutter * 6 / 12); }
.col-7 { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
.col-8 { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
.col-9 { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
.col-10 { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
.col-11 { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
.col-12 { width: $width; }
